.card {
  background-color: var(--bg-color);
  color: #000;
  text-align: center;
  padding: 1rem;
  width: 12rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: transform 0.3s ease;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

.card:hover {
  transform: translateY(-4px);
}

.iconWrap {
  width: 4rem;
  color: var(--user-color);
  height: 3rem;
  margin: 0 auto 0.5rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  width: 100%;
  height: 100%;
}

.name {
  font-weight: 600;
  margin-bottom: 0.25rem;
}
.desc {
  font-size: 0.875rem;
  opacity: 0;
  max-height: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.card:hover .desc {
  opacity: 1;
  transform: scaleY(1);
}