.pageContainer {
  height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 0 5rem;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Középre igazított átvezető szövegek nagyobb térrel és oldalsó paddinggel */
.titleText {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 2rem 0;
  padding: 0 10rem;
}

.transitionText {
  text-align: center;
  margin: 2rem 0;
  padding: 0 10rem;
}

/* Extra space before the profile slider on the feature map page */
.profileSliderSpacer {
  margin-top: 7rem;
}

.FeatureTableSpacer {
  margin-bottom: 10rem;
}

.pageContainer::-webkit-scrollbar {
  display: none;
}