/* File: styles/globals.css */

.reflecta-chat {
  background-color: var(--bg-color);
  padding: 10px;
  width: 80%;
  font-family: 'Raleway', sans-serif;
}

.reflecta-messages {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.reflecta-message {
  max-width: 75%;
  border-radius: 20px;
  word-wrap: break-word;
}

.reflecta-message.user {
  background-color: var(--user-color);
  color: white;
  padding: 5px 15px 5px 30px;
  align-self: flex-end;
  border-bottom-right-radius: 5px;
}

.reflecta-message.assistant {
  background-color: var(--ai-color);
  color: black;
  padding: 5px 30px 5px 15px;
  align-self: flex-start;
  border-bottom-left-radius: 5px;
}

.reflecta-input {
  margin-top: 20px;
}

.reflecta-input textarea {
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  min-height: 70px;
  resize: vertical;
}

.reflecta-close-button {
  padding: 10px 10px;
  border-radius: 50px;
  background-color: white;
  border-color: var(--user-color);
  font-color: var(--user-color);
  border: solid;
  border-width: 1px;
  cursor: pointer;
}

.reflecta-send-button {
  padding: 10px 10px;
  border-radius: 50px;
  background-color: var(--user-color);
  border-color: var(--user-color);
  font-color: white;
  border: solid;
  border-width: 1px;
  cursor: pointer;
}
